* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f1f5f9;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #0f172a;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 5px;
}

.role {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar li:hover,
.sidebar .active {
    background: #1e293b;
}

.logout {
    margin-top: 20px;
    background: #7f1d1d;
}

/* Main */
.main {
    flex: 1;
    padding: 25px;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* Stats */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.box p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

/* Table */
.table-section {
    margin-top: 35px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background: #e2e8f0;
}

.pending {
    color: orange;
    font-weight: bold;
}

.approved {
    color: green;
    font-weight: bold;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background: #2563eb;
    color: #fff;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}